{{ define "main" }}
{{ $event_pages := where $.Site.Pages "Section" .Section }}

{{- .Render "content" -}}


<div id="roles"><h2>Jobs</h2>
    {{- range $index, $value := where .Pages ".Params.Layout" "IN" ( slice "job" ) -}}
<p><b><a href="{{.Permalink}}"> {{.Title}} </a></b>{{.Params.post}}  <b>Reward </b>{{.Params.reward}}</p>
    {{- end -}}

</div>

<div id="Resources"><h2>Resources</h2>
Basic Resource Sell 3 leaves  buy 2 leaves
Common Resource 7 leaves 4 leaves
Rare Resource None Available 8 leaves
<div id="Goods"><h2>Goods</h2>
Common One Handed Weapon (8 Durability) - 1 8 leaves 6 leaves
Common Two Handed Weapon (8 Durability) - 1 8 leaves 6 leaves
Common Armor 10 leaves 5 leaves
Common Shield (8 Durability) - 1 8 leaves 6 leaves
Common Spellbook 5 leaves 2 leaves
Common Incense 5 leaves 2 leaves


{{ end }}