{{ define "main" }}
{{ $event_pages := where $.Site.Pages "Section" .Section }}
{{- $kinfolk := false }}

{{- .Render "content" -}}

<div id="roles"><h2>Jobs</h2>
    {{- range $index, $value := where .Pages ".Params.Layout" "IN" ( slice "job" ) -}}
<p><b><a href="{{ .Permalink }}"> {{.Title }} </a></b>{{ .Params.post }} <b>Reward </b>{{ .Params.reward }}</p>
    {{- end -}}
</div>

<div id="Resources"><h2>Resources</h2>
<p><b>Basic</b> {{ if .Params.resources.basic.sell.quantity }}<i>Sell({{ .Params.resources.basic.sell.quantity }})</i>  {{ .Params.resources.basic.sell.price }} leaves {{ end }}{{ if .Params.resources.basic.buy.price }}<i>Buy</i> {{ .Params.resources.basic.buy.price }} leaves{{ end }}</p>
<p><b>Common Forging </b>{{ if .Params.resources.common_forging.sell.quantity }}<i>Sell({{ .Params.resources.common_forging.sell.quantity }})</i> {{ .Params.resources.common_forging.sell.price }} leaves {{ end }} {{ if .Params.resources.common_forging.buy.price }}<i>Buy</i> {{ .Params.resources.common_forging.buy.price }} leaves{{ end }}</p>
<p><b>Common Alchemy </b>{{ if .Params.resources.common_alchemy.sell.quantity }}<i>Sell({{ .Params.resources.common_alchemy.sell.quantity }})</i> {{ .Params.resources.common_alchemy.sell.price }} leaves {{ end }} {{ if .Params.resources.common_alchemy.buy.price }}<i>Buy</i> {{ .Params.resources.common_alchemy.buy.price }} leaves{{ end }}</p>
<p><b>Common Enchanting </b>{{ if .Params.resources.common_enchanting.sell.quantity }} <i>Sell({{ .Params.resources.common_enchanting.sell.quantity }})</i> {{ .Params.resources.common_enchanting.sell.price }} leaves {{ end }}{{ if .Params.resources.common_enchanting.buy.price }} <i>Buy</i> {{ .Params.resources.common_enchanting.buy.price }} leaves {{ end }}</p>
<p><b>Rare</b>{{ if .Params.resources.rare.buy.price }}<i>Buy</i> {{ .Params.resources.rare.buy.price }} leaves {{ end }}</p>

<div id="Goods"><h2>Goods</h2>
{{- if eq .Title "Kinfolk" }}
<p>The kinfolk goods list is unique as they find all of these items partially used from the trash and scavenged from the dead. The only ones that are not scavenged are items donated to them or crafted by them.</p> 
{{ end}}

{{ range .Params.items }}
<p><b>{{ .name }}</b> <i>Sell({{ .sell.quantity }}x  {{- if .sell.durability }} - {{ .sell.durability }}) durability {{ end }}) </i> {{ .sell.price }} Leaves <i>Buy</i> {{ .buy.price }} Leaves</p>
{{ end}}


{{ end }}