{{ define "main" }}
{{ .Render "content" }}
<div id="body">
{{ .Params.faction }} - <b>{{ .Params.title }}</b>
<p><b>Post</b>: {{ .Params.post  -}}</p>
<p><b>Reward</b>:  {{ .Params.reward  -}}</p>
{{ $props := (slice ) }}
{{ if .Params.props }}
{{ if not (reflect.IsSlice .Params.props)}}{{ $props = (slice .Params.props) }}
{{ else  }} {{ $props = append $props .Params.props }}
{{ end }}
<p><b>Props:</b> {{ delimit $props ", "}}</p> {{- end -}}
{{ if  .Params.summary  -}}<p><b>Summary</b>:  {{ .Params.summary  -}}</p>{{ end }}
</div>
{{ end }}
