{{ .Params.schedule }} - <b>{{ .Params.title }}</b>
<p><b>Brief</b>: {{ .Params.brief  -}}</p>
{{ if  .Params.props  -}}<p><b>props</b>:{{ .Params.props  -}} {{ end }}
{{ if  .Params.summary  -}}<p><b>summary</b>:  {{ .Params.summary  -}}</p>{{ end }}
{{- if or (where .Pages ".Params.Layout" "IN" (slice "national_monster_card" "role" ))  (.Params.roles) -}} 
<div id="roles"><p><b>Roles:</b> 
{{ if .Params.roles }}{{ .Params.roles }} {{ end }}
{{- if where .Pages ".Params.Layout" "IN" (slice "national_monster_card" "role" ) -}} 
    {{- range $index, $value := where .Pages ".Params.Layout" "IN" ( slice "national_monster_card" "role" ) -}}
{{ if (ne $index 0) }}, {{ end }}
<a href="{{.Permalink}}">{{ .Params.quantity | default "" -}}{{- if .Params.quantity }}X {{ end }} {{.Title}} </a>
    {{- end -}}
{{ end }}
</p></div>
{{- end }}
