{{ define "main" }}
<p></p>
<h1>{{ .Params.title }}</h1>
{{ .Render "content" }}

<h3>Acting Information</h3>
{{ if .Params.Backstory }}<p><b>Backstory: </b>{{ .Params.Backstory  }}</p>{{ end }}
{{ if .Params.Motivation }}<p><b>Motivation: </b>{{ .Params.Motivation  }}</p>{{ end }}
{{ if .Params.Speech }}<p><b>Speech: </b>{{ .Params.Speech  }}</p>{{ end }}
{{ if .Params.Movement }}<p><b>Movement: </b>{{ .Params.Movement  }}</p>{{ end }}
{{ if .Params.Intelligence }}<p><b>Intelligence: </b>{{ .Params.Intelligence  }}</p>{{ end }}

<h3>Game Mechanics</h3>

<p><b>Body:</b> {{ if .Params.body }}{{ .Params.body }}{{else}}5{{ end }}</p>
<p><b>Armor:</b> {{ if .Params.armor }}{{ .Params.armor }}{{ end }}</p>
<p><b>Stamina:</b> {{ if .Params.stamina }}{{ .Params.stamina }}{{ else }}0{{ end }}</p>
<p><b>Energy:</b> {{ if .Params.energy }}{{ .Params.energy }}{{ else }}0{{ end }}</p>

{{ $spells_known := (slice ) }}
{{ if .Params.spells_known }}
{{ if not (reflect.IsSlice .Params.spells_known)}}{{ $spells_known = (slice .Params.spells_known) }}
{{ else  }} {{ $spells_known = append $spells_known .Params.spells_known }}
{{ end }}
<p><b>Spells Known:</b> {{ delimit $spells_known ", "}}</p> {{- end -}}



{{ if .Params.primary_attack }}<p><b>Primary Attack:</b> {{ .Params.primary_attack }}</p> {{ end }}
{{ if .Params.Killing_Blow }}<p><b>Killing Blow:</b> {{ .Params.Killing_Blow }}</p> {{ end }}

{{ $offensive_abilities := (slice ) }}
{{ if .Params.offensive_abilities }}
    {{ if not (reflect.IsSlice .Params.offensive_abilities)}}{{ $magic = (slice .Params.offensive_abilities) }}
    {{ else  }} {{ $offensive_abilities = append $offensive_abilities .Params.offensive_abilities }}{{ end }}
<p><b>Offensive Abilities:</b> {{ delimit $offensive_abilities ", "}}</p> {{- end -}}

{{ $defensive_abilities := (slice ) }}
{{ if .Params.defensive_abilities }}
    {{ if not (reflect.IsSlice .Params.defensive_abilities)}}{{ $magic = (slice .Params.defensive_abilities) }}
    {{ else  }} {{ $defensive_abilities = append $defensive_abilities .Params.defensive_abilities }} {{ end }}
<p><b>Defensive Abilities:</b> {{ delimit $defensive_abilities ", "}}</p> {{- end -}}

{{ $Immunities := (slice ) }}
{{ if .Params.Immunities }}
{{ if not (reflect.IsSlice .Params.Immunities)}}{{ $Immunities = (slice .Params.Immunities) }}
{{ else  }} {{ if .Params.Immunities}} {{ $Immunities = append $Immunities .Params.Immunities }}{{ else}} {{ $Immunities = append $Immunities "None" }}{{end}}
{{ end }}
<p><b>Immunities:</b> {{ delimit $Immunities ", "}}</p> {{- end -}}

<p><b>Healed By:</b>{{ if .Params.healed_by }}{{ .Params.healed_by }}{{else}}Healing{{end}}</p> 

<p><b>At Dying:</b>{{ if .Params.at_dying }}{{ .Params.at_dying }}{{else}}Remain until Dead, then dissipate{{end}}</p> 

{{ $Special := (slice ) }}
{{ if .Params.Special }}
{{ if not (reflect.IsSlice .Params.Special)}}{{ $Special = (slice .Params.Special) }}
{{ else  }} {{ $Special = append $Special .Params.Special }}
{{ end }}
<p><b>Special:</b> {{ delimit $Special ", "}}</p> {{- end -}}

{{ $faction_level_2 := (slice ) }}
{{ if .Params.faction_level_2 }}
{{ if not (reflect.IsSlice .Params.faction_level_2)}}{{ $magic = (slice .Params.faction_level_2) }}
{{ else  }} {{ $faction_level_2 = append $faction_level_2 .Params.faction_level_2 }}
{{ end }}
<p><b>Faction Level 2:</b> {{ delimit $faction_level_2 ", "}}</p> {{- end -}}


{{ $faction_level_3 := (slice ) }}
{{ if .Params.faction_level_3 }}
{{ if not (reflect.IsSlice .Params.faction_level_3)}}{{ $magic = (slice .Params.faction_level_3) }}
{{ else  }} {{ $faction_level_3 = append $faction_level_2 .Params.faction_level_3 }}
{{ end }}
<p><b>Faction Level_3:</b> {{ delimit $faction_level_3 ", "}}</p> {{- end -}}

{{ $faction_level_4 := (slice ) }}
{{ if .Params.faction_level_4 }}
{{ if not (reflect.IsSlice .Params.faction_level_4)}}{{ $magic = (slice .Params.faction_level_4) }}
{{ else  }} {{ $faction_level_4 = append $faction_level_2 .Params.faction_level_4 }}
{{ end }}

<p><b>Faction Level 4:</b> {{ delimit $faction_level_4 ", "}}</p> {{- end -}}
{{ end }}