{{ define "main" }}

{{ .Render "content" }}


<p>It is hosted by an awesome group of people and is a mix of a renaissance festival and comic-con with a splash of D&D thrown in.</p>

<p>We will be there on Saturday to join in the festivities and talk about Crestfallen LARP.  Players or people who sign up with us on Saturday will gain two CP towards their character.  We will be giving away some resources, have rulebooks to go through, and may get into a fight or two along the way!  Come on out!
</p>

<p><b>Registration</b>: <a href="{{ .Params.registration_url }}">Register on Eventbrite</a>
<p><b>Campsite</b>: <a href="/schedule/sites/knotted_pines">Knotted Pines</a>

</p>
{{ end }}