{{ define "main" }}

<h2>Crestfallen LARP sponsored SWPA LARP Swap meet</h2>
<p>Drop offs before the event</p>


https://www.facebook.com/events/1282688342485053/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22group%22%7D]%7D



Crestfallen LARP and BearNPC Productions will be hosting our 2023 LARP Swap Meet on July 2nd 2023 at South Park at the Willow Tree Shelter off of Maple Springs Drive.
We will be holding the swap meet from 10am to 4pm, however I will be onsite from 9am and people are free to hang out past 4pm as the site is rented until sunset.
NO COST OF ENTRY
ALL LARP ENTHUSIASTS WELCOME
We hope for this event to be the first of many cross-game-systen community events to help stimulate the local LARPing community growth. As such, if you just wish to come out and meet some other larpers or promote the game you play, please feel welcome!
For those interested in Creatfallen LARP, new players who sign up for Crestfallen and current players who show up and help/talk with people will get 2 Character Points towards a character.
Attendees are encouraged to barter and trade their worn items with others or agree to a garage-sale-esque cash value for interested parties.
If you wish to promote your crafted items, show off some of your work, or even take commissions, we encourage all interested craftspeople to come and promote your business as well.
Please be aware that table space is limited and is on a first come, first served basis. If you need a large amount of table space to display your items, please err on the side of caution and bring a table with you.
As the road to the pavillion is not listed, you may paste the following into google maps for accurate pathing: 8X6X+P74, South Park Township, PA
Once you reach the field, you will make the right turn and follow the path until you arrive at the first Pavillion. That is Willow Tree. See less






<p>All clothing must be laundered</p>

<p>What happens with stuff that is not claimed</p>

<p>Still need to adhere to the crestfallen code of conduct</p>

<p>Demo scenario</p>

<p>List games that will demo and schedule</p>

<p>Links to websites</p>
<hr>
<p>the tables need tablecloths</p>
<hr>
<p>Western PA </p>
<p>LARP </p>
<p>Swap Meet</p>

<p>Get some used props or clear out your closet!


sponsored by crestfallen larp
    https://crestfallenlarp.com/
    
with represenatives form 
    Tristate Adventuring Guild  (TAG)
    game name Odyssey
    https://discord.com/invite/2QZzCHWAHA

    Immersive Role-playing (IRP)
    https://www.facebook.com/groups/566695204827781
    Immersiveroleplayinggsme@gmail.com

    argo flag 
    https://www.facebook.com/groups/321731124505370
    https://www.argofantasyliveactiongaming.com


    pro 
    https://twitter.com/pro_larp
    https://www.facebook.com/PROLARP
    https://www.pittsburghroleplaying.com/events.html


 https://crestfallenlarp.com/swapmeet/ 
 
 all attendees must adhere to the crestfallen code of conduct https://crestfallenlarp.com/rules/#code-of-conduct
 
 {{ .Render "content" }}

{{ end }}