{{ define "main" }}

<h2>Drop offs before the event</h2>
<p>Drop offs before the event</p>

<p>All clothing must be laundered</p>

<p>What happens with stuff that is not claimed</p>

<p>Still need to adhere to the crestfallen code of conduct</p>

<p>Demo scenario</p>

<p>List games that will demo and schedule</p>

<p>Links to websites</p>
<hr>
<p>the tables need tablecloths</p>
<hr>
<p>Western PA </p>
<p>LARP </p>
<p>Swap Meet</p>

<p>Get some used props or clear out your closet!


sponsored by crestfallen larp
    https://crestfallenlarp.com/
    
with represenatives form 
    Tristate Adventuring Guild  (TAG)
    game name Odyssey
    https://discord.com/invite/2QZzCHWAHA

    Immersive Role-playing (IRP)
    https://www.facebook.com/groups/566695204827781
    Immersiveroleplayinggsme@gmail.com

    argo flag 
    https://www.facebook.com/groups/321731124505370
    https://www.argofantasyliveactiongaming.com


    pro 
    https://twitter.com/pro_larp
    https://www.facebook.com/PROLARP
    https://www.pittsburghroleplaying.com/events.html


 https://crestfallenlarp.com/swapmeet/ 
 
 all attendees must adhere to the crestfallen code of conduct https://crestfallenlarp.com/rules/#code-of-conduct
 
 {{ .Render "content" }}

{{ end }}