{{ define "main" }}
{{- $event_date := .Params.event_date | time -}}
{{- $event_date_start := print .Params.event_date " 09:00:00 -0600 EST" -}}
{{- $event_date_end := print .Params.event_date " 20:00:00 -0600 EST" -}}
{{- $oog_location := .Params.oog_location -}}
{{- $oog_location_for_google_calendar := "" -}}

<h2>Crestfallen LARP sponsored SWPA LARP Swap meet <br>{{ $event_date.Format "January 02, 2006 (Monday)" }} </h2>

<p><b>Calendar Links</b>: 
{{ with  .OutputFormats.Get "calendar" -}}
  <a href="{{ .Permalink | safeURL }}"><img src="/images/logos/ics.png" alt="ICS Calendar File" style="width:48px;height:48px;"></a>
{{- end }}
{{- $one_day_adventure_blurb := "A one day adventure for small groups of 5 to 20 players and 5 to 10 NPCs. Players take part in 2 to 4 planned story adventures as well as 4 to 8 additional adventures of their choosing from available lineage and guild options. These adventures may include combat, puzzles, problem solving, role-playing, trading, and more. Non-Combat players are welcome as there are a number of skills, abilities, and stories that will not require combat." -}}
{{- $event_date_start := print .Params.event_date " 09:00:00 -0600 EST" -}}
{{- $event_date_end := print .Params.event_date " 20:00:00 -0600 EST" -}}
{{- $event_title := "Crestfallen LARP One Day Adventure" -}}
<a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{- $event_title -}}&dates={{- dateFormat "20060102T150405" $event_date_start -}}/{{- dateFormat "20060102T150405" $event_date_end -}}&details={{- .Params.teaser -}}+<br>{{- $one_day_adventure_blurb -}}+<br><br>{{- .Permalink -}}&location={{- $oog_location_for_google_calendar -}}&sf=true&output=xml" target="_blank" class="highlight"><img src="/images/logos/gcal.svg" alt="Google Calendar" style="width:48px;height:48px;"></a>
{{ if .Params.facebook_event_url }}<a href="{{- .Params.facebook_event_url -}}" target="_blank" class="highlight"><img src="/images/logos/facebook.svg" alt="Facebook Event" style="width:48px;height:48px;"></a>{{ end }}</p>


<p><b>Event Cost</b>: NO COST OF ENTRY. ALL LARP ENTHUSIASTS WELCOME. If you just wish to come out and meet some other larpers or promote the game you play, please feel welcome!</p></p>

<p><b>Earliest Arrival</b>: 9 AM

<p><b>Swap Meet Start</b>: 10 AM</p>

<p><b>Swap Meet End</b>: 4 PM</p>

<p><b>Latest Offsite</b>: Sunset</p>

<p><b>Site</b>: 
{{- partial "sites.html" . -}}
</p>
<p><b>Crestfallen Character benefits</b>: For those interested in Creatfallen LARP, new players who sign up for Crestfallen and current players who show up and help/talk with people will get 2 Character Points towards a character.
</p>

<p>Attendees are encouraged to barter and trade their worn items with others or agree to a garage-sale-esque cash value for interested parties.</p>
<p>If you wish to promote your crafted items, show off some of your work, or even take commissions, we encourage all interested craftspeople to come and promote your business as well.</p>
<p>Table space is limited and is on a first come, first served basis. If you need a large amount of table space to display your items, please err on the side of caution and bring a table with you.</p>

<p>All attendees must adhere to the crestfallen  <a href="https://crestfallenlarp.com/rules/#code-of-conduct"> Code of Conduct</a>. </p>
<hr>
<h3>With representatives from...</h3>
<p>
    <a href="https://tag-gaming.godaddysites.com" target="_blank"><img src="/images/logos/tag_gaming.png" alt="TAG Gaming" style="height:100px;"></a>
    <a href="https://discord.com/invite/2QZzCHWAHA" target="_blank" class="highlight"><i class="fab fa-discord"></i></a> 
</p>

<p>
    <a href="https://www.facebook.com/groups/566695204827781" target="_blank"><img src="/images/logos/irp.jpg" alt="Immersive Roleplaying" style="height:100px;"></a>
    <a href="mailto:Immersiveroleplayinggsme@gmail.com"><i class="fa fa-envelope"></i></a> </p>

<p>
    <a href="https://www.argofantasyliveactiongaming.com" target="_blank"><img src="/images/logos/argo_flag_logo.jpg" alt="argo flag" style="height:100px;"></a>
    <a href="https://www.facebook.com/groups/321731124505370"><i class="fab fa-facebook"></i></a>
</p>

<p>
    <a href="https://www.pittsburghroleplaying.com" target="_blank"><img src="/images/logos/prolarp.jpg" alt="Pro LARP" style="height:100px;"></a>
    <a href="https://www.facebook.com/PROLARP"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/pro_larp"><i class="fab fa-twitter"></i></a>
    <a href="mailto:prolarp.gm@gmail.com"><i class="fa fa-envelope"></i><a>
</p>


 {{ .Render "content" }}

{{ end }}