{{ define "main" }}
{{ $event_pages := where $.Site.Pages "Section" .Section }}

{{- .Render "content" -}}

<a href="./recap"> <h2>Previous Event Recap</h2></a>
{{ $recap_pages := sort $event_pages ".Params.date" "desc" }}
{{ $last_recap := index $recap_pages 0 }}
<p>{{ $last_recap.Params.recap }}</p>
<h2>Modules</h2>
{{ $schedules := (slice "Opening" "Mid Event"  "friday night" "saturday" "saturday morning" "saturday early afternoon" "saturday early evening" "saturday night" "reaction" "tavern setup" "townsfolk" "randoms" nil "Ending" ) }}

{{ range  $schedules }}
{{ $current_schedule := . }}

{{ if sort (where (where $event_pages "Layout" "==" "module" ) ".Params.schedule" "=="  $current_schedule ) "Params.weight" -}}
<p><b>{{ title  $current_schedule }}{{ if eq $current_schedule  nil }} NO SCHEDULE!! {{ end }}</b>
<b>({{ len (where (where $event_pages "Layout" "==" "module" ) ".Params.schedule" "=="  $current_schedule ) -}}</b>)

{{ if eq $current_schedule  nil }}<p>Please add a schedule to your modules</p>{{ end }}
{{ range $index, $value := where (where $event_pages "Layout" "=="  "module" ) ".Params.schedule" "=="  $current_schedule -}}
      {{ if (ne $index 0) }}, {{ end }}
      <a href="{{- .Permalink -}}"> {{ title .Title }}</a> 

{{ end }}
</p>
{{ end }} 
{{ end }}







<h2>Jobs</h2>
{{ $factions := (slice "Craft Guild" "Thieves Guild"  "Merchant Guild" "Research Guild"  "Dwarf" "Elf" "Haulfin" "Human" "Kinfolk" "Orc" nil ) }}
{{ range  $factions }}
{{ $current_faction := . }} 
{{ $lowercase_faction := $current_faction | lower }} 

{{ $faction_path :=  printf "./%s" $lowercase_faction }}

{{ if sort (where (where $event_pages "Layout" "==" "job" ) ".Params.faction" "=="  $current_faction ) "Params.weight" -}}
<p><b>{{ title  $current_faction }}{{ if eq $current_faction  nil }} NO Faction on this Job!! {{ end }}</b>
<b>({{ len (where (where $event_pages "Layout" "==" "job" ) ".Params.faction" "=="  $current_faction ) -}})</b>
{{ end }}
        {{ range $index, $value :=where (where $event_pages "Layout" "=="  "job" ) ".Params.faction" "=="  $current_faction -}}
            {{ if (ne $index 0) }}, {{ end }}
       <a href="{{- .Permalink -}}"> {{ title .Title }}</a>
      {{ end }}
</p>
{{ end }}
<a href="./market"><h2>Market Value Chart</h2></a>
<a href="./items"><h2>Items</h2></a>

<s><h2>Faction Goals</h2></s>
<p>One days do not have faction goals that are tracked because the cast changes creatures more often than during full weekend events.</p>


<a href="./pioneer_cards"><h2>Pioneer Cards</h2></a>
{{ if where $event_pages "Layout" "==" "stockpile"  -}}
 {{ range where $event_pages "Layout" "=="  "stockpile"  -}}
 <h2><a href="{{- .Permalink -}}">Stockpiles</a> </h2>
     <p>
     <b>Small:</b> {{ if .Params.small }}{{ .Params.small }}{{else}}None{{ end }}
      <b>Medium:</b> {{ if .Params.medium }}{{ .Params.medium }}{{else}}None{{ end }}
      <b>Large:</b> {{ if .Params.large }}{{ .Params.large }}{{else}}None{{ end }}
 {{ end }}
</p>


{{ end }}
<hr>
<p><a href="./adding_content">➕ Adding Content</a></p>
<p><a href="./event_export">🖶 Event Export</a></p>
<p><a href="/pdf/crestfallen_20230806.pdf"><i class="fa fa-file-pdf"></i> Event FormattedS</a></p>





{{ end }}